@import "base";
header{
	align-items:center;
	background-color : $primary;
	color:$white;
	display:flex;
	height:15vh;
	@media (max-width: 600px){
		justify-content:center;
	}
	.brand-name{
		@media (min-width: 600px){
			padding-left:10%;
		}
		font-size:1.6rem;
	}
}